*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}
body{
    background-color: #E5E5E5
}
.container{
    border-radius: 0.6em;
    width: 84%;
}
header{
    box-shadow: 0.0625em 0.0625em 0.5em rgba(0, 0, 0, 0.424);
}
.end{
    gap: 0.5rem;
    margin-right: 0.875em;
}
p{
    font-weight: lighter;
}
p, h4{
    color:#017849 ;
}
.dropdown-item{
    background-color: #017849;
    color: white;
}
.dropdown-item:hover{
    background-color: #017849;
    color: white;
}
.dropdown-toggle::after {
    font-size: 1.8em;
    color: rgb(87, 86, 86);
}
.btn.dropdown-toggle{
    background-color: white;
    margin-top: 0.75em;
}
.btn.dropdown-toggle:hover{
    background-color: white;
}
.dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}
h3{
    margin-left: 8.5%;
    color: rgb(87, 86, 86);
}  
.first, .first-cpf{
    border: 0.0625em solid rgba(128, 128, 128, 0.331);
}
.search-center{
    margin-left: 0%;
    width:100%;
}
.btn{
    border: none;
    border-radius: 2.5em;
    color: white;
    background-color:#017849;
}
#register{
    padding: 0.6em;
}
.btn:hover{
    border: none;
    border-radius: 2.5em;
    color: white;
    background-color:#017849;
}
.filter{
    padding-left: 0;
    width: 24%;
    height: 88%;
    border-radius: 0 1.625em 1.625em 0;
    overflow: hidden;
}
.filter:hover{
    margin-right: 0.125em;
    border-radius: 0em 1.625em 1.625em 0em;
}
.small-left{
    color: rgba(0, 0, 255, 0.672);
}
.input{
    width: 90%;
    height: 88%;
    border: none;
    padding-left: 0.5em;
    border: 0.0625em solid rgba(128, 128, 128, 0.331);
    border-radius: 1.625em 0em 0em 1.625em;
}
input:focus{
    outline: none;
}
.glass{
    margin-left: 0em;
}
section{
    height: 6.25em;
}

/* ------------Css-Modal--------------- */

#main, #main-edit-patient{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.86);
    display: none;
}
.div-form{
    height: 100%;
    align-items: center;
}
form{
    width: 74%;
    padding: 2%;
    border-radius: 0.75em;
    background-color: white; 
}
.div-modal-center{
    gap: 0.625em;
}
.form-group{
    margin: 1% 1% 2% 2%;
}
.form-control:focus{
    box-shadow: 0 0 0.25em #017849;
    border: 1px solid rgb(1, 245, 1);
    outline: none;
}
.patient-data{
    width: 40%;
    gap: 1rem;
}
.pt{
    margin-left: 0;
    color:#017849;
}
.edit-img{
    width: 2.25em;
    height: 1.875em;
}
.form-control{
    padding: 4%;
}
.base{
    background-color: white;
}
hr{
    border-top: 0.125em solid gray;
}
.span{
    color: red;
}
.baseboard{
    width: 20%;
}
.cancel{
    margin-right: 2%;
}
.create{
    width: 90%;
    padding: 4.5%;
    border: none;
    border-radius: 0.75em;
    color: white;
    background-color:#017849;
}
#main-pt{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.86);
    display: none;
}