*{
    font-size: 1em;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../imagens/logo-1.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh;
}
.box{
    display: flex;
    height: fit-content;
    justify-content: center;
    margin: 0 auto;
    margin-top: 7.5em;
    border-radius: 18px;
    background-color: #017849;
}
@media (max-width: 47.9375em) {
    .box {
      width: 90%;
      margin: 0 auto;
      margin-top: 7.5em;
      margin-left: 2em;
    }
} 
.box-cadastro{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 7.5em;
    border-radius: 18px;
    background-color: white;
    box-shadow: 0.0625em 0.0625em 0.5em rgba(0, 0, 0, 0.418);
}
.img{
    display: flex;
    justify-content: center;
    margin-top: 1.875em;
}
.form-signin{
    padding: 0.625em;
    width: 70%;
}
.form-control{
    border: none;
}
.input-text{
    border:0.0625em solid gray;
}
.form-control:focus{
    outline-style: solid;
    outline-width: 0.125em;
    outline-color: white;
}
img{
    width: 70%;
    text-align: center;
}
label{
    color: white;
}
.button{
    display: flex;
    justify-content: center;
}
.paragraph{
    color: white;
    display: flex;
    justify-content: center;
}
.paragraph.botton{
    color: white;
}
.btn{
    color: white;
    border: 0.0625em solid white;
}
.btn:hover{
    color: white;
    border: 0.0625em solid white;
}

  